.SubcategoryClass {
    margin-left: 200px;
}

.ButtonClass {
    margin-left: 300px;
}

.recordTypes {
    height: 00rem;
    width: 50%;
    margin-left: 400px
}

h1 {
    font-weight: bold;
    font-size: 15px;
}